@model RoleViewModel

@{
    ViewBag.Title = "Roles";
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Administración</p>
                    <h1>Roles</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <a class="btn btn-outline-info" asp-action="upsert">
        <i class="fa-solid fa-circle-plus"></i> Agregar Rol
    </a>
</div>

<div class="product-section mt-150 mb-150">
    <div class="container-fluid">
        <div class="dt-responsive table-responsive">

            @foreach (var role in Model.Roles)
            {
                <div id="role_@role.Id" class="input-group inputs">
                    <div class="col-3">@role.Name</div>
                    <div class="col-7 text-right">
                        <a class="btn btn-outline-info" asp-action="upsert" asp-route-id="@role.Id">
                            <i class="fa-solid fa-pen-to-square"></i> Editar
                        </a>
                        <a onclick=Delete("@role.Id") class="btn btn-outline-danger" style="cursor:pointer">
                            Eliminar
                        </a>
                        <a class="btn btn-outline-dark" asp-action="usersrole" asp-route-id="@role.Id">
                            Asignar rol a usuarios
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>

    function Delete(id) {
        swal({
            title: "Esta seguro que desea borrar el rol?",
            text: "Los datos no pueden ser recuperados una vez que hayan sido borrados!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: "/user/deleterole/" + id,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            $("#role_" + id).remove();
                            swal({
                                title: "Se ha eliminado el rol con éxito",
                                icon: "success",
                            })
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }

</script>


