
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-section mt-150 mb-150">
    <div class="container-fluid">
        <div class="dt-responsive table-responsive">
            <h1 class="text-danger">Acceso Denegado</h1>
            <div class="inputs">
                Usted no esta autorizado para ingresar a esta página
            </div>

        </div>
    </div>
</div>

