@model List<Category>

@{
    ViewBag.Title = "Inventario";
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Administración</p>
                    <h1>Categorias de Productos</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <a asp-controller="Inventario" asp-action="AgregarCategorias" class="btn btn-primary">
        Agregar Categoría
    </a>
</div>
  <form method="post">
      <div class="product-section mt-150 mb-150">
    <div class="container-fluid">
        <div class="dt-responsive table-responsive">
            <table id="footer-search" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Código de Categoria</th>
                        <th>Descripción</th>
                        <th style="text-align:center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                            <tr id="categories_@item.CategoryId">
                            <input asp-for="@item.CategoryId" hidden />
                            <td>@item.CategoryId</td>
                            <td>@item.Description</td>
                            <td style="text-align:center">
                                    <a onclick=deleteCategories("@item.CategoryId") class="btn btn-danger">
                                        Eliminar
                                    </a>
                            </td>
                        </tr>
                    }
                </tbody>
                @* <tfoot>
                <tr>
                <th>Código de Categoria</th>
                <th>Descripción</th>
                <th>Acciones</th>
                </tr>
                </tfoot>*@
            </table>
        </div>
    </div>
</div>
</form>

<script>
    function deleteCategories(id) {
        Swal.fire({
            title: 'Administración de categorías',
            text: "¿Estás seguro que quieres borrar este categoría?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "DELETE",
                    url: "/Inventario/EliminarCategorias/" + id,
                    success: function (response) {
                        if (response.success) {
                            Swal.fire(
                                'Administración de categorías',
                                'La categoría ha sido eliminada, exitosamente!',
                                'success'
                            );
                            $("#categories_" + id).remove();
                        }
                        else {
                            Swal.fire(
                                'Administración de categorías',
                                'Se ha dado un error al eliminar la categoría',
                                'error'
                            )
                        }
                    }
                })
            }
        })
    }
</script>