@using System.Security.Claims

@{
    ViewBag.Title = "Carrito";

}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Ya casi finalizas</p>
						<h1>Carrito</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Imagen del producto</th>
									<th class="product-name">Nombre</th>
									<th class="product-price">Precio</th>
									<th class="product-quantity">Cantidad</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
									<tr class="table-body-row">
									<td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img src="~/img/productos/cepillo-doble.jpg" alt=""></td>
									<td class="product-name">cepillo doble</td>
									<td class="product-price">₡25.000</td>
									<td class="product-quantity"><input type="number" placeholder="0"></td>
									<td class="product-total">1</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Precio</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>₡75.000</td>
								</tr>
								<tr class="total-data">
									<td><strong>Envío: </strong></td>
									<td>₡0</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>₡75.000</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="#" class="boxed-btn">Vaciar Carrito</a>
						<a asp-action="Checkout" class="boxed-btn black">Finalizar Compra</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->