@model OrderPaymentViewModel


@{
    Model.payments.UserId = Model.UserId;
    Model.orderHeader.UserId = Model.UserId;

}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Seguro y de CALIDAD</p>
                    <h1>Checkout</h1>
                </div>
            </div>
        </div>
    </div>
</div>
   <form asp-action="Checkout" method="post">

    <div class="checkout-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Información de Envío
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="billing-address-form">
                                                <input asp-for="orderHeader.UserId" hidden />

                                            <p><input asp-for="orderHeader.City" class="form-control form-control-user" type="text" placeholder="Ciudad"></p>
                                            <p><input asp-for="orderHeader.Country" class="form-control form-control-user" type="text" placeholder="País"></p>
                                            <p><input asp-for="orderHeader.Address" type="text" class="form-control form-control-user" id="bill" placeholder="Dirección Exacta"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card single-accordion">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Método de Pago
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="billing-address-form">
                                                <input asp-for="payments.UserId" hidden />

                                                <img src="~/img/Logos-tarjetas.png" alt="" width="200">
                                            <p><input asp-for="payments.firstName" class="form-control form-control-user" placeholder="Nombre del Titular de la tarjeta"></p>
                                            <p><input asp-for="payments.lastName"  class="form-control form-control-user" placeholder="Apellidos"></p>
                                            <p><input asp-for="payments.zipCode" type="text" class="form-control form-control-user" placeholder="Código Postal"></p>
                                            <p><input asp-for="payments.cardNumber" type="text" class="form-control form-control-user" placeholder="Número de la Tarjeta"></p>
                                             <label>Fecha de Vencimiento</label>
                                            <p><input asp-for="payments.expirationDate" class="form-control form-control-user" type="date" placeholder="Fecha de Vencimiento de la Tarjeta"></p>
                                            <p><input asp-for="payments.CVV" type="text" class="form-control form-control-user" placeholder="Código de seguridad de la tarjeta"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="order-details-wrap">
                        <table class="order-details">
                            <thead>
                                <tr>
                                    <th>Detalles de tu Orden</th>
                                </tr>
                            </thead>
                            <tbody class="order-details-body">
                                @foreach (var item in Model.products)
                                {
                                    <tr>
                                        <td>Producto</td>
                                        <td>Precio</td>

                                    </tr>
                                    <tr>
                                        <td>@item.Name.</td>
                                        <td>₡@item.Price</td>
                                    </tr>
                                }
                            </tbody>
                            <tbody class="checkout-details">

                                @*<tr>
                                <td>Subtotal</td>
                                <td>₡1.800</td>
                                </tr>
                                <tr>
                                <td>Compra</td>
                                <td>₡1.800</td>
                                </tr>*@
                                <tr>
                                    <td>Total</td>
                                    <td>@Model.order.Total</td>
                                </tr>
                            </tbody>
                        </table>
                        <button asp-action="Checkout" type="submit" class="btn btn-primary btn-user">Finalizar Pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   </form>
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/1.webp" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    function deleteCategories(id) {
        Swal.fire({
            title: 'Administración de categorías',
            text: "¿Estás seguro que quieres borrar este categoría?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result) {
                $.ajax({
                    type: "POST",
                    url: "/Inventario/EliminarCategorias/" + id,
                    success: function (response) {
                        if (response.success) {
                            toastr.success(data.message);
                            $("#categories_" + id).remove();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
            Swal.fire({
                title: "Se ha eliminado la categoría exitosamente",
                icon: "success",
            })
        });
    }
</script>*@