
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Seguro y de CALIDAD</p>
						<h1>Checkout</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Información de Envío
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="#">
						        		<p><input type="tel" placeholder="Número de Teléfono"></p>
						        		<p><input type="text" placeholder="Ciudad"></p>
						        		<p><input type="text" placeholder="Estado"></p>
						        		<p><input type="text" placeholder="País"></p>
						        		<p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Dirección Exacta"></textarea></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Método de Pago
						        </button>
						      </h5>
						    </div>
							<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="#">
										<img src="~/img/Logos-tarjetas.png" alt="" width="200">
						        		<p><input type="text" placeholder="Nombre del Titular de la tarjeta"></p>
						        		<p><input type="text" placeholder="Apellidos"></p>
						        		<p><input type="number" placeholder="Código Postal"></p>
						        		<p><input type="number" placeholder="Número de la Tarjeta"></p>
										<label>Fecha de Vencimiento</label>
										<p><input type="date" placeholder="Fecha de Vencimiento de la Tarjeta"></p>
										<p><input type="number" placeholder="Código de seguridad de la tarjeta"></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						    
						  </div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Detalles de tu Orden</th>
									<th>Precio</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Producto</td>
									<td>Total</td>
								</tr>
								<tr>
									<td>Alimento Pedigree - 3Kg</td>
									<td>₡1.800</td>
								</tr>
								<tr>
									<td>Alimento Pedigree - 3Kg</td>
									<td>₡1.800</td>
								</tr>
								<tr>
									<td>Alimento Pedigree - 3Kg</td>
									<td>₡1.800</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>₡1.800</td>
								</tr>
								<tr>
									<td>Compra</td>
									<td>₡1.800</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>₡1.800</td>
								</tr>
							</tbody>
						</table>
						<a href="#" class="boxed-btn">Finalizar Pedido</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	


	<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/1.webp" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
