@model ForgetPasswordInputModel

@{
    ViewBag.Title = "Login";
}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>¿Olvidaste tu contraseña?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="login-form text-center pb-80">
            <form method="post">
                <div class="form-group header">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3>Olvido su Contraseña?</h3>
                </div>

                <div class="form-group">
                    <div class="clearfix separator"></div>
                </div>

                <div class="form-group inputs">
                    <label asp-for="Email" class="form-text">Ingrese su correo electrónico</label>
                    <input asp-for="Email" class="form-control" style="width: 100%" placeholder="E-Mail" autofocus />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group inputs">
                    <button id="submit" type="submit" >Enviar correo para reestablecer contraseña</button>
                </div>

            </form>
        </div>
    </div>
</div>



