
@{
    ViewBag.Title = "Login";
}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Administración</p>
                    <h1>Inicio de Sesión</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="login-form text-center pb-80">
            <form type="POST" onSubmit="">
                <p style="width: 100%">
                    <label>Correo Electrónico</label>
                    <input type="email" placeholder="Correo Electrónico" name="email" id="email">
                </p>
                <p>
                    <label>Contraseña</label>
                    <input type="text" name="password" placeholder="Contraseña"/>
                </p>
                <p><input type="submit" value="Iniciar Sesión"></p>
            </form> 
        </div>
    </div>
</div>



