@model ResetPasswordInputModel

@{
    ViewBag.Title = "Login";
}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Reestablecar contraseña</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="row justify-content-md-center">
    <div class="login-form text-center pb-80">
        <form method="post">

            <div class="form-group">
                <div class="clearfix separator"></div>
            </div>

            <div class="form-group inputs">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />

                <label asp-for="Password" class="form-text">Nueva Contraseña</label>
                <input asp-for="Password" style="width: 100%" class="form-control" placeholder="Contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <label asp-for="PasswordConfirmation" class="form-text">Confirmar Nueva Contraseña</label>
                <input asp-for="PasswordConfirmation" style="width: 100%" class="form-control" placeholder="Nueva Contraseña" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>

            <div class="form-group inputs">
                <button id="submit" type="submit" class="btn btn-outline-primary">Reestablecer</button>
            </div>

        </form>
    </div>
</div>



