@model List<Products>

@{
    ViewBag.Title = "Tienda";
}
<!-- Header Tienda -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Barato y alta calidad</p>
                    <h1>Pet Store</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin Header Tienda -->
<!-- Seccion Productos -->
<div class="product-section mt-80 mb-150">
    <div class="container">
@*        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">Todo</li>
                        @foreach (var item in Model)
                        {
                               <li data-filter=".@item.Category.Description">@item.Category.Description</li>
                        }
                    </ul>
                </div>
            </div>
        </div>*@
        <div class="product-lists">
            <form asp-action="addProductsToCart" method="post">
                <div class="row">
                    @foreach (var item in Model)
                    {


                        <div class="col-4 text-center">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a @*href="single-product.html"*@><img src="@item.Files" style="width:100px" alt=""></a>
                                </div>
                                <h3>@item.Name</h3>
                                <p class="product-price"><span>Unidad</span> ₡@item.Price.000</p>

                                <button asp-action="addProductsToCart"
                                    asp-route-ProductId="@item.ProductId"
                                    class="btn btn-warning">
                                    <i class="fas fa-shopping-cart"></i> Agregar al Carrito
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Anterior</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Elementos generados a partir del JSON -->
        <main id="items" class="col-sm-12 row text-center"></main>
        <!-- Carrito -->
        <aside class="col-sm-12" style="display: none;">
            <h2>Carrito</h2>

            <!-- Elementos del carrito -->
            <ul id="carrito" class="list-group"></ul>
            <hr>
            <!-- Precio total -->
            <p class="text-right">Total: <span id="total"></span>&euro;</p>
            <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
        </aside>
    </div>
</div>
<!-- fin productos -->
<!-- Carrusel de patrocinadores -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/1.webp" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
